.component-container {
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem;

    background-image: url('../../../public/img/bg/back.jpg');
    background-size: cover;
    background-position: center;
}
.components-container-1 {
    grid-template-columns: 1fr 2fr;
    display: grid;
    gap: 0.5rem;
    margin: 1rem 0;
    
}



