.wrapper {
    max-width: 400px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.screen {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 80px;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.screen .pre {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
    word-wrap: break-word;
    word-break: break-all;
}

.screen .now {
    font-size: 2.5rem;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.calc_btn_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8%;
}

.calc_btn {
    background-color: #d8d8d8;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    height: 100px;
    flex-basis: 24.5%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.calc_btn:hover {
    background-color: #ebebeb;
}

.calc_btn:active {
    background-color: #bbbcbe;
}

.calc_btn:last-child {
    background-color: #df974c;
    color: white;
}

.calc_btn:last-child:hover {
    background-color: #dfb07e;
}

.calc_btn.operation {
    background-color: #f39c12;
    color: white;
}

.calc_btn.operation:hover {
    background-color: #f5b041;
}

.double {
    flex-basis: 49.7%;
}

@media (max-width: 500px) {
    .calc_btn {
        font-size: 1.5rem;
        height: 80px;
    }

    .screen {
        font-size: 2rem;
    }

    .screen .pre {
        font-size: 1.2rem;
    }

    .screen .now {
        font-size: 2rem;
    }
}
